{% extends 'index.html' %}

{% load static %}

{% block contenido %}
    <header class="bg-primary bg-gradient text-white">
        <div class="container px-4 text-center">
            <h1 class="fw-bolder">{{mensaje}} </h1>
            <p class="lead">Ya puede explorar la pagina</p>
        </div>
    </header>
    <section id="about">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    <div class="card-body">
                        <img src="{{ url }}" alt="" width="200px" height="200px">                  
                        <form style="width:auto" method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Logout</button>
                        </form>
                        <a href="{% url 'EditarPerfil' %}" class="btn btn-warning">Editar</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}