{% extends 'index.html' %}

{% load static %}

{% block contenido %}
    <header class="bg-primary bg-gradient text-white">
        <div class="container px-4 text-center">
            <h1 class="fw-bolder">Buscar Productos</h1>
            <p class="lead">Ingrese un producto para buscarlo en la DB</p>
        </div>
    </header>
    <section id="about">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    {% if productos %}
                        <ul>
                        <h5>Resultado de la busqueda: </h5>
                        {% for producto in productos %}
                            <li>Producto: {{producto.nombre}}</li>
                            <li>Cantidad: {{producto.cantidad}}</li>
                        {% endfor %}
                        </ul>
                    {% else %}
                        <h5>No se encontro ningun producto con ese nombre</h5>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}