{% extends 'index.html' %}

{% load static %}

{% block contenido %}
    <header class="bg-primary bg-gradient text-white">
        <div class="container px-4 text-center">
            <h1 class="fw-bolder">Usuarios</h1>
            <p class="lead">Ingrese un nuevo usuario</p>
        </div>
    </header>
    <section id="about">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    <form action="usuarios" method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Nombre</label>
                            <input type="text" class="form-control" name="nombre" id="exampleInputEmail1">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Email</label>
                            <input type="text" class="form-control" name="email" id="exampleInputPassword1">
                        </div>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                        <a class="btn btn-primary" href="{% url 'lista_usuarios' %}">Ver lista de Usuarios</a>
                    </form>
                    
                </div>
            </div>
        </div>
    </section>

{% endblock %}